.wrapper {
    display: grid;
    justify-content: center;
}

.branding-container {
    position: relative;
    height: 97vh;
    width: 97vw;
    border: 10px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.current-page {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.brand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 32px;
}